<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>PGS Software Task</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="styles/main.css"/>
       
        {{! <link rel="apple-touch-icon" sizes="57x57" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/jb-logo.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/jb-logo.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/jb-logo.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/jb-logo.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/jb-logo.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/jb-logo.png"> }}

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="scripts/main.js"></script>
    </head>

    <body>
